<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Connect MongoDB</title>
</head>
<body>
  <h1>Member registration form</h1>
  <form method="post">
    <h3>email</h3>
    <input type="email" name="email" /><br>
    <h3>user name</h3>
    <input name="username" type="text" />
    <h3>password</h3>
    <input type="password" name="password" /><br>
    <input type="submit" value="Submit" />
  </form>
</body>
</html>
